<div class="row">
    <div class="col-md-12 mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card-columns" *ngIf="productos.length > 0">
                        <div class="card" *ngFor="let p of productos">                              
                            <img class="card-img-top img-carr" [src]="ruta+p.idProducto.jsonImagenes[0]" alt="Card image cap">
                            <div class="card-body">
                            <div class="col-12">
                                <h5 class="mt-0">{{p.idProducto.strNombre}} </h5>
                                <span>Unitario: ${{p.idProducto.nmbPrecio}}</span>
                                <p class="mb-0">Agregados:<input type="number" [(ngModel)]="p.nmbCantidad" class="form-control form-control-sm" [max]="p.idProducto.nmbStock" min="1" (keypress)="event = $event.preventDefault()"></p>
                            </div>
                            <div class="col-12 text-center">
                                <div class="align-self-center mr-3">Total<h4>${{p.nmbTotalProducto}}</h4></div>
                            </div>
                            <hr class="p-0 m-2">
                            <div class="col-12 m-0 p-0 text-center">
                                <button type="button" class="btn btn-link mt-0 pt-0" (click)="deleteArticulo(p.idProducto._id)">Eliminar</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="productos.length == 0 && !cargando">
            <div class="col-12 align-items-center text-center">
                <h1 class="text-center">NO SE HAN AGREGADO PRODUCTOS AL CARRITO</h1>
            </div>
        </div>
        <div class="row" *ngIf="cargando ">
            <div class="col-12 align-items-center text-center">
                <h1 class="text-center"><i class="fa fa-spinner fa-pulse"></i>Cargando</h1>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-12"><h2>Total a pagar:</h2></div>
                            <div class="col-md-6 col-12 text-right"><h3>$ {{total}}</h3></div>
                            <div class="col-md-6 col-12">
                                <button type="button" class="btn btn-block btn-warning" (click)="vaciarCarrito()">Vaciar Carrito</button>
                            </div>
                            <div class="col-md-6 col-12">
                                <button type="button" class="btn btn-block btn-primary" (click)="comprar()">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
