<div  class="login-register background-pattern">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <div class="card login-box ">
                <div class="col-12">
                    <div class="align-content-md-center">
                        <div class="form-group text-center">
                            <img src="../../../assets/images/books.png" class="img-fluid" style="height: 8rem; width: 8rem;" alt="Libros">
                        </div>
                        <form (ngSubmit)="iniciarSesion(forma)" #forma="ngForm">
                            <div class="form-group text-left">
                                <label for="strCorreo" class="small">Correo Eletrónico:</label>
                                <input pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" type="email" class="form-control form-control-sm login-box" [ngClass]="{'is-invalid': strCorreo.errors?.required && forma.controls['strCorreo'].touched }" name="strCorreo" [(ngModel)]="login.strCorreo" placeholder="Correo Electrónico"
                                required #strCorreo="ngModel">
                                <div class="invalid-feedback" *ngIf="strCorreo.errors?.required">
                                    <small>Es necesario ingresar un Correo Electrónico.</small>
                                </div>
                                <div class="bad-pattern" *ngIf="strCorreo.errors?.pattern">
                                    <small>El correo electrónico es inválido. (example@direccion.com)</small>
                                </div>
                            </div>
                            <div class="form-group text-left">
                                <label for="email" class="small">Contraseña:</label>
                                <input type="password" class="form-control form-control-sm login-box" placeholder="Contraseña" [ngClass]="{'is-invalid': strPassword.errors?.required && forma.controls['strPassword'].touched }" name="strPassword" [(ngModel)]="login.strPassword"
                                required #strPassword="ngModel">
                                <div class="invalid-feedback" *ngIf="strPassword.errors?.required">
                                    <small>Es necesario ingresar una Contraseña.</small>
                                </div>
                            </div>
                            <div class="form-group text-left mb-4">
                                <button type="submit" class="btn btn-block btn-info btn-sm">Iniciar sesión</button>
                            </div>
                        </form>
                        <div class="form-group text-center small mt-4">
                            <p>¿No tienes una cuenta? <a [routerLink]="['/registro']">Registrate</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>